.main-basket {
  padding: 25px 0 25px 0;
  display: grid;
  grid-template-columns: 5fr 2fr;
  column-gap: 20px;
}

.main-basket__product {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 0 20px 0;
  color: #FFF;
  border: 1px solid $mainColor;
  background-color: $mainColor;
}

.product__title {
  display: flex;
  column-gap: 20%;
  justify-content: center;
  padding: 15px 0;
  text-align: center;
}

.product__items-name, .product__name, .product__pages, .product__pages-current, .product__items-pages, .header__total  {
  font-size: 24px;
  align-self: center;
  vertical-align: center;
  color: #FFF;
}

.product__pages {
  display: flex;
  column-gap: 10px;
}

.product__list {
  background-color: #FFF;
}

.product__pages-btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  color: $mainColor;
  text-transform: uppercase;
  border-radius: 50%;
  transition: all 0.5s;
  background: rgb(242, 242, 242);
  border: 1px solid rgb(242, 242, 242);
  cursor: pointer;
  &:hover {
    color: #FFF;
    border: 1px solid rgb(242, 242, 242);;
    background: $mainColor;
  }
  &:active {
    background: #4B9200;;
  }
  &:disabled {
    background: $secondColor;
    opacity: 0.5;
    cursor: default;
  }
}

.product__itemBasket {
  color: $mainColor;
  display: flex;
  column-gap: 15px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $mainColor;
  &:nth-last-child(1) {
    border-bottom: none;
  }
}

.basket-data__count {
  display: flex;
  column-gap: 10px;
}

.basket-data__count-btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  color: $mainColor;
  text-transform: uppercase;
  border-radius: 50%;
  transition: all 0.5s;
  background: rgb(242, 242, 242);
  border: 1px solid rgb(242, 242, 242);
  cursor: pointer;
  &:hover {
    color: #FFF;
    border: 1px solid rgb(242, 242, 242);;
    background: $mainColor;
  }
  &:active {
    background: #4B9200;;
  }
  &:disabled {
    background: $secondColor;
    opacity: 0.5;
    cursor: default;
  }
}

.infoBasket__image {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid $mainColor;
    border-radius: 5px;
  }
}

.itemBasket__infoBasket {
  display: flex;
  column-gap: 10px;
}

.infoBasket__title {
  width: 400px;
}

.basket-data__name {
  font-weight: 700;
  span {
    font-weight: 400;
  }
}

.basket-data__name-description {
  height: 54px;
  overflow: hidden;
}

.itemBasket__summaryBasket {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.basket-data__count-current {
  align-self: center;
}

.itemBasket__numberBasket {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid $mainColor;
}

.main-basket__summary {
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 0 20px 0;
  color: #FFF;
  border: 1px solid $mainColor;
  background-color: $mainColor;
}

.summary__name {
  color: #FFF;
}

.summary__info {
  background-color: #FFF;
  height: 100%;
  color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  align-items: center;
  padding: 10px 0;
}

.summary__name {
  align-self: center;
  padding: 10px 0;
}

.summaryInfo-data__products, .summaryInfo__total {
  font-size: 28px;
  font-weight: 700;
}

.summaryInfo__search {
  cursor: pointer;
  outline: none;
  font-weight: 700;
  padding: 5px 10px;
  border: 3px solid $mainColor;
  border-radius: 5px;
}

.summaryInfo__name {
  font-size: 12px;
}

.card__btn-button {
  width: 200px;
  font-size: 18px;
  padding: 15px 30px;
}

.sale-redline {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 3px;
    background-color: red;
    top: 45%;
    left: -10%;
  }
}

.sale-newText {
  display: none;
}

.promoadd {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.promoItem {
  display: flex;
}

.promoItem__button {
  width: 60px;
  height: 30px;
  padding: 3px;
}

.promolist-father {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 3px solid $mainColor;
  border-radius: 5px;
  padding: 5px;
}

.promolist_text {
  font-weight: 700;
}

.promolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.promoItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.promoadd-hide {
  display: none;
}

.promolist__hide {
  display: none;
}

.hide {
  display: none;
}