.popup-wrapper-active {
  display: block;
}

.popup {
  padding: 25px;
  height: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.popup__block {
  position: relative;
  max-width: 600px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 40px 20px;
}

.creditInput__image {
  width: 100px;
  height: 50px;
  display: flex;
  img {
    object-fit: contain;
    width: 60px;
  }
}

.popup__dataInput {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.popup__persona,
.creditInput__title {
  font-weight: 700;
  color: $mainColor;
  align-self: center;
  font-size: 32px;
}

.popup__creditInput {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.creditInput__cardNumber {
  justify-content: space-between;
  display: flex;
  column-gap: 50px;
}

.creditInput__cardSecret {
  display: flex;
  column-gap: 100px;
}

.product__itemsView {
  display: flex;
}

.product__items-inputView {
  font-size: 18px;
  font-weight: 700;
  color: $mainColor;
  padding: 5px;
  align-self: center;
  width: 35px;
  height: 30px;
  outline: none;
  border-radius: 5px;
}

.confirm__button {
  width: 250px;
  padding: 15px 20px;
  font-size: 24px;
  align-self: center;
}

.noUi-tooltip {
  display: block;
  font-size: 14px;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  left: 50%;
  bottom: -130%;
}
.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  left: 50%;
  bottom: -130%;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  display: none;
}

.noUi-horizontal .noUi-handle-lower:active {
  & .noUi-tooltip {
    display: block;
  }
}
.noUi-horizontal .noUi-handle-lower:hover {
  & .noUi-tooltip {
    display: block;
  }
}

.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  display: none;
}

.noUi-horizontal .noUi-handle-upper:active {
  & .noUi-tooltip {
    display: block;
  }
}
.noUi-horizontal .noUi-handle-upper:hover {
  & .noUi-tooltip {
    display: block;
  }
}

.div__dataInput-name,
.div__dataInput-phone,
.div__dataInput-adress,
.div__dataInput-mail,
.div__InputCardNumber,
.div__InputCardNumberDate,
.div__InputCardNumberCVV {
  position: relative;
}

.span__dataInput-name,
.span__dataInput-phone,
.span__dataInput-adress,
.span__dataInput-mail,
.span__InputCardNumber,
.span__CardNumberDate,
.span__CardNumberCVV {
  position: absolute;
  top: 14px;
  right: -70px;
  font-weight: 700;
  color: red;
}
